* {
  box-sizing: border-box;
  margin: 0;
}

#container {
  background: linear-gradient(#efd157, #9ea4ea);
  width: 100vw;
  height: 100vh;
  position: relative;
}
#popUp {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.popUp-content {
  background-color: rgba(0, 0, 0, 0.4);
  margin: 15% auto;
  padding: 50px;
  border: 1px solid #888;
  border-radius: 7px;
  color: #d6d2d2;
  max-width: 900px;
  max-height: 600px;
  line-height: 30px;
}

ul {
  list-style-type: circle;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#dronesContainer {
  position: absolute;
  top: 20px;
  left: 20px;
  transform: rotate(0deg);
  transform-origin: center;
  width: 180px;
  transition: transform 1s ease;
}

.drone {
  position: relative;
  left: 20px;
  width: 135px;
  height: 100px;
}

/*---------------------------------circle----------------------------*/
.circle {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 50px;
  height: 100px;
  background-color: #142931;
  border-radius: 50%;
}

#drone1 .circle {
  width: 70px;
}

#drone2 .circle {
  top: 5px;
  left: 40px;
  height: 80px;
}

#drone2 .circle::before,
#drone2 .circle::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: rgb(152, 150, 160);
  border-radius: 30%;
}

#drone2 .circle::before {
  top: 50px;
  left: 10px;
}

#drone2 .circle::after {
  top: 50px;
  left: 30px;
}
/*-------------------------------------------------------------------*/

/*---------------------------------stick----------------------------*/
.stick {
  position: absolute;
  width: 60px;
  height: 10px;
  background-color: #142931;
}

#drone1StickRight {
  top: 50px;
  left: -10px;
  transform: rotate(46deg);
}

#drone1StickLeft {
  top: 50px;
  left: 85px;
  transform: rotate(132deg);
}

#drone2StickRight,
#drone2StickLeft {
  top: 50px;
  width: 50px;
}

#drone2StickRight {
  transform: rotate(150deg);
}

#drone2StickLeft {
  left: 85px;
  transform: rotate(207deg);
}

/*-------------------------------------------------------------------*/

/*---------------------------------wing----------------------------*/

.wing {
  position: absolute;
  width: 16px;
  height: 60px;
  background-color: #142931;
  border-radius: 20px;
  transform-origin: center center;
  animation-name: rotate-left;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 0.3s;
}

#drone1WingRight {
  left: -10px;
}

#drone1WingLeft {
  right: -10px;
}

#drone2WingRight {
  top: 40px;
  left: -10px;
}

#drone2WingLeft {
  top: 40px;
  right: -10px;
}

@keyframes rotate-left {
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate-right {
  to {
    transform: rotate(-360deg);
  }
}
