* {
  box-sizing: border-box;
  margin: 0;
}

#container {
  background: linear-gradient(#efd157, #9ea4ea);
  width: 100vw;
  height: 100vh;
  position: relative;
}

#dronesContainer {
  position: absolute;
  top: 0;
  left: 50px;
  transform: rotate(0deg);
  transition: 0.2s;
  width: 180px;
  transition: transform 0.5s ease;
}

.drone {
  position: relative;
  left: 20px;
  width: 135px;
  height: 100px;
}

/*---------------------------------circle----------------------------*/
.circle {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 50px;
  height: 100px;
  background-color: #332f2f;
  border-radius: 50%;
}

#drone1 .circle {
  width: 70px;
}

#drone2 .circle {
  top: 5px;
  left: 40px;
  height: 80px;
}
/*-------------------------------------------------------------------*/

/*---------------------------------stick----------------------------*/
.stick {
  position: absolute;
  width: 60px;
  height: 10px;
  background-color: #332f2f;
}

#drone1StickLeft {
  top: 50px;
  left: -10px;
  transform: rotate(46deg);
}

#drone1StickRight {
  top: 50px;
  left: 85px;
  transform: rotate(132deg);
}

#drone2StickLeft {
  top: 50px;
  transform: rotate(150deg);
  width: 50px;
}

#drone2StickRight {
  top: 50px;
  left: 85px;
  transform: rotate(207deg);
  width: 50px;
}

/*-------------------------------------------------------------------*/

/*---------------------------------wing----------------------------*/

.wing {
  position: absolute;
  width: 16px;
  height: 60px;
  background-color: #332f2f;
  border-radius: 20px;
}

#drone1WingLeft {
  left: -10px;
  transform-origin: center center;
  animation: rotate-left 0.2s linear infinite;
}

#drone1WingRight {
  right: -10px;
  transform-origin: center center;
  animation: rotate-right 0.2s linear infinite;
}

#drone2WingLeft {
  top: 40px;
  left: -10px;
  transform-origin: center center;
  animation: rotate-left 0.2s linear infinite;
}

#drone2WingRight {
  top: 40px;
  right: -10px;
  transform-origin: center center;
  animation: rotate-right 0.2s linear infinite;
}

@keyframes rotate-left {
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate-right {
  to {
    transform: rotate(-360deg);
  }
}

/*-------------------------------------------------------------------*/
